:root {
  --default-font: "Varela Round", sans-serif;
  --company-colour: #a48aca;
  --heading-font: "Pacifico", cursive;
}

body {
  background-color: #ffffff;
}
h1 {
  font-family: var(--heading-font);
  font-size: 80px;
  padding: 20px;
}
h2,
p {
  font-style: var(--default-font);
  font-size: 30px;
  font: bold;
}
.home-top {
  text-align: center;
  padding: 80px 10px;
  background-color: var(--company-colour);
}
.img-fluid {
  max-block-size: 67px;
}
.home-buttons {
  text-align: center;
  padding: 20px 0px;
}
.country-top-div {
  padding: 20px;
  text-align: center;
}
.country-top-paragraphs {
  font-family: var(--default-font);
  font-size: 20px;
}
.container img {
  object-fit: cover;
}
.contact {
  display: block;
  text-align: center;
}
