:root {
  --default-font: "Varela Round", sans-serif;
  --company-colour: #dd9b2d;
  --heading-colour: #305029;
  --heading-font: "Pacifico", cursive;
}

body {
  background-color: #ffffff;
}
h1 {
  font-family: var(--heading-font);
  font-size: 80px;
  color: var(--heading-colour);
  padding: 20px;
}
h2,
p {
  font-style: var(--default-font);
  font-size: 30px;
  font: bold;
  color: var(--heading-colour);
}
.home-top {
  text-align: center;
  padding: 80px 10px;
  background-color: var(--company-colour);
}
.img-fluid {
  max-block-size: 67px;
}
.home-button-div {
  text-align: center;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}
.btns-home {
  font-size: 23px;
  border-radius: 10px;
  background-color: #fb7712;
  border: none;
  font-family: var(--heading-font);
  color: var(--heading-colour);

  padding: 10px 15px;
}
.country-top-div {
  padding: 20px;
  text-align: center;
}
.country-top-paragraphs {
  font-family: var(--default-font);
  font-size: 20px;
}
.container img {
  object-fit: cover;
}
.contact {
  display: block;
  text-align: center;
}
.homepic {
  border-radius: 50px;
  box-shadow: 10px 10px 2px 1px rgba(200, 159, 500, 0.2);
}
.homeparagraph {
  font-family: car(--default-font);
  font-size: 20px;
  text-align: left;
}
